{mock, [{couchbeam, connect, [{['_', '_'], mock_db_connect}]},
        {couchbeam, close, [{[mock_db_connect], ok}]},
        {couchbeam, open_view, [{[mock_db_connect, "user"], mock_db_user_view},
                                {[mock_db_connect, "nodes", 100], {mock_db_node_view, 100}},
                                {[mock_db_connect, "nodes"], mock_db_node_view}]}]}.
